.carrossel-container {
  position: relative; /* Para permitir o posicionamento absoluto das imagens */
  max-width: 100%;
  height: 100vh; /* Tamanho máximo da altura da tela */
  overflow: hidden; /* Para esconder partes das imagens que são maiores */
}

.carrossel-imagem {
  position: absolute; /* Para permitir o posicionamento absoluto */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carrossel-imagem.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
